*{ box-sizing: border-box;margin:0;padding:0;overflow:hidden }
html, body {
  margin: 0;
  padding: 0;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#000;
}
canvas{
  display: block;
}
#s1{  border-radius: 22px; }


